# macOS
.DS_Store

# Xcode user-specific data
xcuserdata/
*.xcscmblueprint
*.xccheckout

# Build output
build/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Packages/

# CocoaPods / Carthage
Pods/
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

Secrets.xcconfig